<section class="pt-20 max-w-[100rem] mx-auto p-4">
   <app-search
    (speciesEmited)="showSpecie($event)"
    (statusEmitted)="showStatus($event)"
    (genderEmitted)="showGender($event)"
    (nameEmitted)="showName($event)"
    />
    @defer{
      @if (!errorMessage) {
        <div 
        class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-20  mx-auto p-4">
        @for (character of characters; track character.id) {
          
          <app-card [characters]="character"/>
         
        }@empty {
          <h2>Mejor Cartle JEJE</h2>
         }
        </div>
      }@else {
        <app-error [messageError]="errorMessage"/>
      }
    }@loading(minimum 1000) {
      <app-load-spiner></app-load-spiner>
      <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-20 mx-auto p-4">
        @for (item of characters; track $index) {
          <app-skeleton [character]="item"/>
        }
      </div> -->
    }
   @if (!errorMessage) {
    <div class="flex flex-row justify-between  ">
      <!-- Previous Button -->
      <a 
      (click)="prevPage()" 
      class="ml-4 cursor-pointer hover:bounce flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-yellow-200 bg-green-600 border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
        </svg>
        Anterior
      </a>
      <a 
      (click)="nextPage()"
      class="mr-4 cursor-pointer hover:bounce flex items-center justify-end px-3 h-8 text-sm font-medium text-yellow-200 bg-green-600 border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        Siguiente
        <svg class=" w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
    }
</section>
