 <div class="flex flex-col">

    <div 
    class="bg-heroRick bg-cover bg-no-repeat bg-center bg-opacity-50 rounded-lg mx-4 mt-28 px-4 py-28 shadow-md shadow-slate-500"
    >
        <h1 class="uppercase text sm:text-1 md:text-2xl lg:text-5xl text-center text-white">Rick and Morty</h1>
    </div>
    
    <div class="max-w-sm bg-slate-100 mx-4 my-10 px-2 py-4 shadow-md hover:shadow-yellow-200">
        <img 
        src="assets/img/Rick_and_Morty.svg" 
        alt="" 
        class="w-full overflow-hidden"
        [routerLink]="['components']">
        <div>
            <h1 class="text-center text-white">hola</h1>
        </div>
    </div>
</div>
