<app-nav-bar/>

<div class="container">
    <router-outlet />
</div>
<!-- <article>
    <section>
        <app-hero/>
    </section>
</article> -->

<!-- test for tailwind -->
    <!-- <div class="mx-2 my-2 px-2 py-5 sm: border border-cyan-900 flex flex-col justify-center">
      <div class="border border-blue-700 mx-2 my-2 p-5 ">
        <h1 class="shadow-lg hover:shadow-green-600 hover:-rotate-12 rounded-lg bg-pink-300 text-green-600 text-center px-5 py-14 mt-5 w-40">Hola</h1>
        <h1 class="bg-green-300 text-center px-5 py-10 mt-5">Perro</h1>
        <h1 class="bg-gray-400 mt-5 px-5 py-10 text-center">Gato</h1>
        <div class="max-w-sm border border-blue-900 rounded-lg mt-4 ml-56">
            <img src="assets/img/MYXJ_20240125074618082_save.jpg" class="w-full  overflow-hidden">
            <div class="px-2 py-6">
                <h3 class="text-2xl text-center">
                    The coldest Sunset
                </h3>
                <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nisi nihil tempore cupiditate. Ad quae quisquam laboriosam 
                    deleniti! Sit.
                </p>               
            </div>
            <div class="px-2 py-4 flex justify-center">
              <strong class="inline-block rounded-xl bg-slate-400 text-center text-white mx-1 my-1 px-2 py-2  ">#Fotografia</strong>
              <strong class="inline-block rounded-xl bg-slate-400 text-center text-white mx-1 my-1 px-2 py-2 ">#travel</strong>
              <strong class="inline-block rounded-xl bg-slate-400 text-center text-white mx-1 my-1 px-2 py-2 ">#winter</strong>
            </div>
        </div>
      </div>
      <div class="border border-blue-700 mx-2 my-2 p-5 "></div>
      <div class="border border-blue-700 mx-2 my-2 p-5 "></div>
    </div> -->